body{
    height: 900px;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 100%);
background-repeat: no-repeat;
}

.apre{

    position: absolute;
    width: 600px;
    height: 96px;
    left: 650px;
    top: 158px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
     }
